  * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  body {
    margin: 30px;
  }

  #calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 550px;
    width: 350px;
    border: solid black 2px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .display {
    height: 95px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 20px;
    color: red;
    font-weight: bold;
    overflow-x:auto;
    text-align: end;
  }
 
  .keypad {
    height: 395px;
    width: 300px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .btn {
    height: 65px;
    width: 65px;
    border: solid lightgrey 2px;
    border-radius: 15px;
    margin: 8px 5px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out 0s;
  }

  .action {
    color: black;
  }

  #clr {

  }

  #del {

  }

  #dec {

  }

  #result {
    width: 140px;
  }